spring:
  datasource:
    url: jdbc:mysql://rm-2zehb0t8iyrwg4y25oo.mysql.rds.aliyuncs.com:3306/darkblue?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=true&serverTimezone=GMT%2B8
    username: darkblue
    password: DarkBlue@20241204
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      minimum-idle: 5
      idle-timeout: 180000
      maximum-pool-size: 10
      auto-commit: true
      max-lifetime: 1800000
      connection-timeout: 30000
      connection-test-query: SELECT 1
  data:
    redis:
      host: r-2zev2togtiv1qm37u8pd.redis.rds.aliyuncs.com
      port: 6379
      password: King@785615
      database: 15
      lettuce:
        pool:
          enabled: true
          max-active: 10
    jdbc:
      dialect: mysql

app:
  not-allow-change-password-users:
    - subadmin
jasypt:
  encryptor:
    password: darkblue-jasypt-password
    gcm-secret-key-algorithm: PBKDF2WithHmacSHA256